<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Niko_Neko_Pureya.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Niko_Neko_Pureya.Properties.Settings>
            <setting name="LastFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TimeRemaining" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
        </Niko_Neko_Pureya.Properties.Settings>
    </userSettings>
</configuration>